{% extends './admin_profile/index.html.twig' %}
{% block lecture %}
<div class="container">
        <div class="row">
            <div class="col-sm">
    <h4>Edit access {{user.username}}</h4>
    <table class="lectures">
        <thead>
            <tr>
                <th>Course</th>
                <th>Name</th>
                <th>Access</th>
            </tr>
        </thead>
        <tbody>
        {{ form_start(edit_form) }}
        {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.course }}</td>
                <td>{{ lecture.name }}</td>
                <td>
                    {# form_widget(access) #}
                    {# user.id #}
                    
                    {{ form_widget(edit_form) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <input class="btn btn-primary" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    
    <a class="btn btn-danger" href="{{ path('user_index') }}">Back to the list</a>
</p>
</div>
</div>
</div>
</div>
{% endblock %}
