{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile">
        <div class="text-center user_greatings">
            <h1>Hello {{ profile.username }}!</h1>
        </div>

        <div class="container">
            <div class="row user_header">
                <div class="col-sm-4">
                    <div class="fos_user_user_show">
                        <p><b>{{ 'profile.show.username'|trans }}</b>: {{ profile.username }} | <a class="fas fa-wrench" href="{{ path('change_passwd') }}"> Change Password</a></p>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <p><b>Your roles:</b> |
                    {% for role in profile.roles %}
                        {{ role }} |
                    {% endfor %}
                    </p>
                </div>
        
                <div class="col-sm-4">
                    <p><b>{{ 'profile.show.email'|trans }}</b>: {{ profile.email }}</p>
                </div>
            </div>
        </div>

        <div class="admin_content">
            <a href="{{ path('lecture_index') }}" class="btn btn-success">Zarządzaj wykładami</a>
            <a href="{{ path('user_index') }}" class="btn btn-success">Zarządzaj uzytkownikami</a>
            <p></p>
            {% block lecture %}{% endblock %}
            {% block users %}{% endblock %}
        </div>

{% endblock %}