{% extends is_granted('ROLE_ADMIN')
    ? './admin_profile/index.html.twig'
    : './user_profile/index.html.twig'%}
{% block lecture %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Lectures list</h4>
            <table class="lectures">
                <thead>
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                        <th>Id</th>
                        {% endif %}
                        <th>Course</th>
                        <th>Name</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Lecturefile</th>
                            <th>Actions</th>
                        {% else %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for lecture in lectures %}
                        <tr>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>{{ lecture.id }}</td>
                            {% endif %}
                            <td>{{ lecture.course }}</td>
                            <td>{{ lecture.name }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td><a href="{{ path('lecture_download', { 'name': lecture.lectureFile, 'lectureName': lecture.name }) }}">{{ lecture.lectureFile }}</a></td>
                                <td>
                                    {#<a class="btn btn-secondary" href="{{ path('lecture_edit', { 'id': lecture.id }) }}">edit</a>#}
                                    <a class="btn btn-danger" href="{{ path('lecture_delete', { 'id': lecture.id }) }}">delete</a>
                                </td>
                            {% else %}
                                <td>
                                    <a class="btn btn-primary" href="{{ path('lecture_download', { 'name': lecture.lectureFile, 'lectureName': lecture.name }) }}">download</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('lecture_new') }}">Create a new lecture</a>
    {% endif%}
</div>
{% endblock %}
